In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sklearn.preprocessing import MinMaxScaler

import os
from dotenv import load_dotenv
import boto3
import io

Data Loading

In [5]:
def load_s3_instagram_data():

    load_dotenv()
    aws_access_key = os.getenv("aws_accessKey")
    aws_secret_key = os.getenv("aws_secretKey")
    region_name='ap-northeast-2'

    # S3 í´ë¼ì´ì–¸íŠ¸ ìƒì„±
    client = boto3.client('s3', aws_access_key_id=aws_access_key, aws_secret_access_key=aws_secret_key, region_name=region_name)

    today = datetime.now()
    year, week, _ = today.isocalendar()

    bucket_name = 'flexmatch-data'

    table_list = ['RECENT_USER_INFO_MTR', 'TIME_SERIES_PROFILE_INFO', 'BY_USER_ID_MEDIA_DTL_INFO', 'BY_DATE_MEDIA_AGG_INFO']
    df_by_table_list = {}

    for table_name in table_list:
        prefix = f'instagram-data/tables/{table_name}/year={year}/week=23/' # ì´ë²ˆì£¼ê°€ ì—†ì–´ì„œ weekë¥¼ ë”°ë¡œ x
        response = client.list_objects_v2(Bucket=bucket_name, Prefix=prefix)

        if 'Contents' in response:
            files = [content['Key'] for content in response['Contents'] if content['Key'].endswith('merged_data.parquet')]

            if not files:
                print(f"[Info] No merged_data.parquet found for table: {table_name}")
                continue

            # ê° íŒŒì¼ ìˆœíšŒ
            for file_key in files:
                try:
                    obj = client.get_object(Bucket=bucket_name, Key=file_key)
                    df = pd.read_parquet(io.BytesIO(obj['Body'].read()))
                    df_by_table_list[table_name] = df
                    print(f"[Success] Loaded {file_key} for table {table_name}")
                except Exception as e:
                    print(f"[Error] Failed to read {file_key} for table {table_name}: {e}")
        else:
            print(f"[Info] No files found under prefix: {prefix}")
        
    return df_by_table_list

df_by_table_list = load_s3_instagram_data()

# recent_user_info_mtr_2 = df_by_table_list['RECENT_USER_INFO_MTR']
# time_series_profile_info_2 = df_by_table_list['TIME_SERIES_PROFILE_INFO']
# by_user_id_media_dtl_info_2 = df_by_table_list['BY_USER_ID_MEDIA_DTL_INFO']
# by_date_media_agg_info_2 = df_by_table_list['BY_DATE_MEDIA_AGG_INFO']

recent_user_info_mtr = df_by_table_list['RECENT_USER_INFO_MTR']
time_series_profile_info = df_by_table_list['TIME_SERIES_PROFILE_INFO']
by_user_id_media_dtl_info = df_by_table_list['BY_USER_ID_MEDIA_DTL_INFO']
by_date_media_agg_info = df_by_table_list['BY_DATE_MEDIA_AGG_INFO']

[Success] Loaded instagram-data/tables/RECENT_USER_INFO_MTR/year=2025/week=23/merged_data.parquet for table RECENT_USER_INFO_MTR
[Success] Loaded instagram-data/tables/TIME_SERIES_PROFILE_INFO/year=2025/week=23/merged_data.parquet for table TIME_SERIES_PROFILE_INFO
[Success] Loaded instagram-data/tables/BY_USER_ID_MEDIA_DTL_INFO/year=2025/week=23/merged_data.parquet for table BY_USER_ID_MEDIA_DTL_INFO
[Success] Loaded instagram-data/tables/BY_DATE_MEDIA_AGG_INFO/year=2025/week=23/merged_data.parquet for table BY_DATE_MEDIA_AGG_INFO

In [ ]:
# # ë‚ ì§œê¹Œì§€ ìˆœíšŒí•˜ê²Œ ë§Œë“  ë¡œì§

# load_dotenv()
# aws_access_key = os.getenv("aws_accessKey")
# aws_secret_key = os.getenv("aws_secretKey")
# region_name = 'ap-northeast-2'

# client = boto3.client(
#     's3',
#     aws_access_key_id=aws_access_key,
#     aws_secret_access_key=aws_secret_key,
#     region_name=region_name
# )

# today = datetime.now()
# year, current_week, _ = today.isocalendar()

# last_week_date = today - timedelta(weeks=1)
# last_week_year, last_week, _ = last_week_date.isocalendar()

# week_year_pairs = [(year, current_week), (last_week_year, last_week)]

# bucket_name = 'flexmatch-data'
# table_list = ['RECENT_USER_INFO_MTR', 'TIME_SERIES_PROFILE_INFO', 'BY_USER_ID_MEDIA_DTL_INFO', 'BY_DATE_MEDIA_AGG_INFO']

# merged_data_by_table = {table_name: {} for table_name in table_list}

# # ì£¼ì°¨ë³„ ìˆœíšŒ
# for year_val, week_val in week_year_pairs:
#     for table_name in table_list:
#         prefix = f'instagram-data/tables/{table_name}/year={year_val}/week={week_val}/'
#         response = client.list_objects_v2(Bucket=bucket_name, Prefix=prefix)

#         if 'Contents' in response:
#             target_files = [
#                 content['Key']
#                 for content in response['Contents']
#                 if content['Key'].endswith('merged_data.parquet')
#             ]

#             if not target_files:
#                 print(f"[Info] No merged_data.parquet found for {table_name} week={week_val}")
#                 continue

#             for file_key in target_files:
#                 try:
#                     obj = client.get_object(Bucket=bucket_name, Key=file_key)
#                     df = pd.read_parquet(io.BytesIO(obj['Body'].read()))
#                     merged_data_by_table[table_name][week_val] = df
#                     print(f"[Success] Loaded {file_key} for table {table_name}, week {week_val}")
#                 except Exception as e:
#                     print(f"[Error] Failed to read {file_key} for {table_name}, week {week_val}: {e}")
#         else:
#             print(f"[Info] No files found under prefix: {prefix}")

basic preprocessing

In [6]:
recent_user_info_mtr = recent_user_info_mtr.drop_duplicates(subset=['acnt_id', 'acnt_nm'])
time_series_profile_info = time_series_profile_info.drop_duplicates(subset=['base_ymd', 'acnt_id'])
by_user_id_media_dtl_info = by_user_id_media_dtl_info.drop_duplicates(subset=['acnt_id', 'media_id', 'media_cn'])
by_date_media_agg_info = by_date_media_agg_info.drop_duplicates(subset=['base_ymd', 'media_id'])

recent_user_info_mtr_2 = recent_user_info_mtr_2.drop_duplicates(subset=['acnt_id', 'acnt_nm'])
time_series_profile_info_2 = time_series_profile_info_2.drop_duplicates(subset=['base_ymd', 'acnt_id'])
by_user_id_media_dtl_info_2 = by_user_id_media_dtl_info_2.drop_duplicates(subset=['acnt_id', 'media_id', 'media_cn'])
by_date_media_agg_info_2 = by_date_media_agg_info_2.drop_duplicates(subset=['base_ymd', 'media_id'])

ê°€ì¥ ìµœê·¼ ë°ì´í„°ë¡œ isin í•´ì¤˜ì•¼ í•  ê²ƒ ê°™ìŒ. ê·¸ë˜ì•¼ 1ì£¼ì¼ ì „, í›„ë¥¼ ë¹„êµí•  ìˆ˜ ìˆê¸° ë•Œë¬¸ì„

In [171]:
# # ê° acnt_idê°€ ìˆëŠ” ì „ë¶€ ìˆëŠ” ê²½ìš°ë§Œ ê°€ëŠ¥, isinìœ¼ë¡œ ì œê±°
# # ê·¼ë° ì „ ì£¼ì°¨ì—ëŠ” ì—†ëŠ” ìœ ì €ê°€ ìƒê¸¸ìˆ˜ë„ ìˆìŒ
# # media ê°™ì€ ê²½ìš°ì—ë„ ìµœê·¼ 25ê°œë§Œ ì¼ë‹¨ ê°€ì ¸ì˜¤ê³  ìˆê¸° ë•Œë¬¸ì— ì¼ì£¼ì¼ ë‹¨ìœ„ì—¬ë„ ì—†ì„ìˆ˜ë„ ìˆìŒ

# # ì´ë ‡ê²Œ í•´ì•¼í•˜ëŠ” ì´ìœ ëŠ” timeseries ë³€ìˆ˜ë¥¼ ê³„ì‚°í•˜ë ¤ë©´ ë¬´ì¡°ê±´ ë‘ ì£¼ì°¨ì— ê°™ì€ ì•„ì´ë””ê°€ ìˆì–´ì•¼ í•¨
# # ë˜í•œ, user infoë‘ media info ê°™ì´ ì¨ì•¼í•˜ëŠ” ê²½ìš°ì—ëŠ” ì–´ì§œí”¼ í•œë²ˆ ê±°ë¥´ê³  ìˆì„ ë“¯
# # -> ë”°ë¼ì„œ, êµ³ì´ í•„ìˆ˜ì ìœ¼ë¡œ í•˜ì§€ëŠ” ì•Šì•„ë„ ë ë“¯í•¨

# unique_user = recent_user_info_mtr['acnt_id'].unique()

# time_series_profile_info = time_series_profile_info[time_series_profile_info['acnt_id'].isin(unique_user)]
# by_user_id_media_dtl_info = by_user_id_media_dtl_info[by_user_id_media_dtl_info['acnt_id'].isin(unique_user)]

# unique_media = by_user_id_media_dtl_info['media_id'].unique()
# by_date_media_agg_info = by_date_media_agg_info[by_date_media_agg_info['media_id'].isin(unique_media)]

In [7]:
def influencer_scale_type(row):
    count = row['follower_cnt']
    if count < 1000:
        return 'nano'
    elif 1000 <= count <= 10000:
        return 'micro'
    elif 10000 < count <= 100000:
        return 'mid'
    elif 100000 < count <= 500000:
        return 'macro'
    else:
        return 'mega'

recent_user_info_mtr['influencer_scale_type'] = recent_user_info_mtr.apply(influencer_scale_type, axis=1)
recent_user_info_mtr_2['influencer_scale_type'] = recent_user_info_mtr_2.apply(influencer_scale_type, axis=1)

C:\Users\ehddl\AppData\Local\Temp\ipykernel_17764\3577675420.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recent_user_info_mtr['influencer_scale_type'] = recent_user_info_mtr.apply(influencer_scale_type, axis=1)

create merged file

In [ ]:
# all_merged_df_a = pd.merge(recent_user_info_mtr, time_series_profile_info, on='acnt_id', how='left')
# all_merged_df_b = pd.merge(all_merged_df_a, by_user_id_media_dtl_info, on='acnt_id')

# all_merged_df = pd.merge(all_merged_df_b, by_date_media_agg_info, on='media_id')

# media_engagement_merged_df = pd.merge(by_user_id_media_dtl_info, by_date_media_agg_info, on='media_id')
# media_engagement_profile_merged_df = pd.merge(media_engagement_merged_df, recent_user_info_mtr, on='acnt_id', how='left')
# time_series_merged_df = pd.merge(time_series_profile_info, time_series_profile_info_2, on='acnt_id')

In [9]:
def create_merged_df(user_info_df, timeseries_df, timeseries_df_2, media_info_df, media_agg_df):
    all_merged_df_a = pd.merge(user_info_df, timeseries_df, on='acnt_id', how='left')
    all_merged_df_b = pd.merge(all_merged_df_a, media_info_df, on='acnt_id')
    all_merged_df = pd.merge(all_merged_df_b, media_agg_df, on='media_id')

    media_engagement_merged_df = pd.merge(media_info_df, media_agg_df, on='media_id')

    # ì ˆë°˜ ì´ìƒì˜ ê²Œì‹œë¬¼ì˜ likeê°€ ë¹„ê³µê°œì¸ influencer ì œê±°
    by_user_na_like_count = media_engagement_merged_df[media_engagement_merged_df['like_cnt'].isna()].groupby(['acnt_id'])['media_id'].count()
    na_like_user = by_user_na_like_count[by_user_na_like_count > 13].index
    media_engagement_merged_df = media_engagement_merged_df[~media_engagement_merged_df['acnt_id'].isin(na_like_user)].reset_index()

    # fillna í•¨ìˆ˜ ì •ì˜
    like_medians = media_engagement_merged_df.groupby(['acnt_id'])['like_cnt'].median()
    comments_medians = media_engagement_merged_df.groupby(['acnt_id'])['cmnt_cnt'].median()

    def fillna_like(row):
        if pd.notna(row['like_cnt']):
            return row['like_cnt']
        median = like_medians.get(row['acnt_id'])
        return median if pd.notna(median) else 0

    def fillna_comment(row):
        if pd.notna(row['cmnt_cnt']):
            return row['cmnt_cnt']
        median = comments_medians.get(row['acnt_id'])
        return median if pd.notna(median) else 0

    media_engagement_merged_df['like_cnt'] = media_engagement_merged_df.apply(fillna_like, axis=1)
    media_engagement_merged_df['cmnt_cnt'] = media_engagement_merged_df.apply(fillna_comment, axis=1)

    
    media_engagement_profile_merged_df = pd.merge(media_engagement_merged_df, user_info_df, on='acnt_id', how='left')
    time_series_merged_df = pd.merge(timeseries_df, timeseries_df_2, on='acnt_id')

    return all_merged_df, media_engagement_merged_df, media_engagement_profile_merged_df, time_series_merged_df

In [10]:
all_merged_df, media_engagement_merged_df, media_engagement_profile_merged_df, time_series_merged_df = create_merged_df(
                                                                                                                        recent_user_info_mtr_2,
                                                                                                                        time_series_profile_info,
                                                                                                                        time_series_profile_info_2,
                                                                                                                        by_user_id_media_dtl_info_2,
                                                                                                                        by_date_media_agg_info_2)

í¬ë¦¬ì—ì´í„° í™œë™ì„±

- ì‹¤ì œ ê²Œì‹œë¬¼ ì—…ë¡œë“œ ë‚ ì§œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê³„ì‚°í•  ìˆ˜ ìˆì„ ê²ƒ ê°™ìŒ
- ìµœê·¼ 25ê°œì˜ ê²Œì‹œë¬¼ì˜ í‰ê·  ê²Œì‹œ ê°„ê²©ì„ ê³„ì‚°
- ìµœê·¼ 25ê°œì˜ ê²Œì‹œë¬¼ì„ ë©°ì¹ ì— ê±¸ì³ì„œ ì—…ë¡œë“œ í–ˆëŠ”ì§€ì— ëŒ€í•œ ê°’ì„ ê³„ì‚°

In [ ]:
media_dtl_2_copy = by_user_id_media_dtl_info_2.copy()
media_dtl_2_copy = media_dtl_2_copy.drop_duplicates(subset=['acnt_id', 'media_id', 'media_cn'])
media_dtl_2_copy['reg_dt'] = pd.to_datetime(media_dtl_2_copy['reg_dt'])
media_dtl_2_copy = media_dtl_2_copy.sort_values(['acnt_id', 'reg_dt'])

# ê²Œì‹œë¬¼ ê°„ê²© ê³„ì‚°
media_dtl_2_copy['prev_reg_dt'] = media_dtl_2_copy.groupby('acnt_id')['reg_dt'].shift(1)
media_dtl_2_copy['gap_days'] = (media_dtl_2_copy['reg_dt'] - media_dtl_2_copy['prev_reg_dt']).dt.days
# media_dtl_2_copy

# gap_daysê°€ NaNì¸ ì²« ë²ˆì§¸ í¬ìŠ¤íŠ¸ ì œì™¸ í›„ í‰ê·  ê°„ê²© ê³„ì‚°
activity_df = media_dtl_2_copy.dropna(subset=['gap_days']).groupby('acnt_id')['gap_days'].mean().reset_index()
activity_df.rename(columns={'gap_days': 'avg_upload_interval'}, inplace=True)

# í™œë™ì„± ì ìˆ˜ ê³„ì‚° (ê°„ê²©ì˜ ì—­ìˆ˜ë¡œ í™˜ì‚°) -> ì ìˆ˜ ì •ê·œí™” (ì—…ë¡œë“œ ê°„ê²©ì´ ì§§ì„ìˆ˜ë¡ ì ìˆ˜ê°€ ë†’ì•„ì§€ë„ë¡ ì—­ìˆ˜ë¥¼ ì·¨í•´ì„œ ê³„ì‚°í•œ ê²ƒ)
activity_df['activity_score'] = 100 / activity_df['avg_upload_interval']
activity_df

,media_id,acnt_id,media_type_nm,reels_feed_type_nm,media_url_addr,media_unq_url_addr,tmnl_url_addr,reg_dt,media_cn,acnt_conn_yn,feed_share_yn,cmnt_actvtn_yn,prev_reg_dt,gap_days
1931,17909318463036853,17841400002751973,VIDEO,REELS,https://scontent-nrt1-2.cdninstagram.com/o1/v/...,https://www.instagram.com/reel/DKE4nvPTnMu/,https://scontent-nrt1-2.cdninstagram.com/v/t51...,2025-05-25 12:20:56+00:00,ğŸ“í‚¤ì¦ˆêµ¬ë§¤ì‹œ í“¨ì–´ì¦ì •ì´ë²¤íŠ¸ëŠ” ì¢…ë£Œ ë˜ì—ˆìŠµë‹ˆë‹¤\n\nì˜¤ë©”ê°€3 ë§ˆê°ì„ë°•ì…ë‹ˆë‹¤â™¥ï¸,N,None,None,NaT,NaN
18512,18040241717290389,17841400002751973,CAROUSEL_ALBUM,FEED,https://scontent-nrt1-2.cdninstagram.com/v/t51...,https://www.instagram.com/p/DKE8TbfTxig/,None,2025-05-25 12:52:32+00:00,",\nëª¨ë¡œëŠ” ëª¨ì°¸ì®œ~ğŸŠ\në‹¤ìŒ ê³µêµ¬ì¼ì´ 3ê°œì›” ì´í›„ë‹ˆê¹Œ ìŸì—¬ì£¼ì‹­ì‹œì˜¤â€¦ğŸ« \n\ní•˜ë£¨ ...",N,None,None,2025-05-25 12:20:56+00:00,0.0
6755,17971024994896809,17841400002751973,CAROUSEL_ALBUM,FEED,https://scontent-nrt1-2.cdninstagram.com/v/t51...,https://www.instagram.com/p/DKFERm8zmgG/,None,2025-05-25 14:02:12+00:00,",\nğŸ”¸ë°›ì€ ì œí’ˆì€ í–‡ë¹›ì´ ì•ˆë“œëŠ” ì„œëŠ˜í•œ ê³³ ì— ë³´ê´€í•˜ì‹œê³ ì˜¤í”ˆí›„ì—” ëƒ‰ì¥ë³´ê´€ ë° 9...",N,None,None,2025-05-25 12:52:32+00:00,0.0
23520,17893733829236933,17841400002751973,CAROUSEL_ALBUM,FEED,https://scontent-nrt1-1.cdninstagram.com/v/t51...,https://www.instagram.com/p/DKFE8ANzG6t/,None,2025-05-25 14:07:59+00:00,",\nì¹´ë””ì´/í‚¤ì¦ˆ êµ¬ë§¤ì‹œ í“¨ì–´ğŸŸ¡ ì¦ì • ë©ë‹ˆë‹¤.\n\në ˆëª¬í–¥, ë ˆëª¬ë§›, ë‹¬ë‹¬ì“°\në¹„íƒ€...",N,None,None,2025-05-25 14:02:12+00:00,0.0
18511,18031270604413907,17841400002751973,CAROUSEL_ALBUM,FEED,https://scontent-nrt1-1.cdninstagram.com/v/t51...,https://www.instagram.com/p/DKGOi45T7hc/,None,2025-05-26 00:51:11+00:00,",\n#í˜„ì¬ í‚¤ì¦ˆì£¼ë¬¸ ë§ì•„ìš”ğŸŸğŸ©µ\n#ì˜¤ë©”ê°€3#í‚¤ì¦ˆì˜¤ë©”ê°€3#ì—ìŠ¤í‚¤ëª¨ì˜¤ë©”ê°€3#ì—ìŠ¤í‚¤ëª¨ì˜¤...",N,None,None,2025-05-25 14:07:59+00:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12535,18081083746755990,17841474495202295,CAROUSEL_ALBUM,FEED,https://scontent-nrt1-1.cdninstagram.com/v/t51...,https://www.instagram.com/p/DJoxxQ5RhCt/,None,2025-05-14 14:21:45+00:00,susu_23.06.30 #ê¾¹ê¾¹ì´ #ìŠˆ #ì•„í”„ì§€ë§ì\n\në‚˜ëŠ” ê¾¹ê¾¹ì´ í•˜ë‹¤ê°€ ì ë“œëŠ”...,N,None,None,2025-05-14 12:44:18+00:00,0.0
23517,18042903941207161,17841474495202295,VIDEO,REELS,https://scontent-nrt1-2.cdninstagram.com/o1/v/...,https://www.instagram.com/reel/DJpb5R0TJCa/,https://scontent-nrt1-2.cdninstagram.com/v/t51...,2025-05-14 20:32:05+00:00,#ë„·í”Œë¦­ìŠ¤ì •ì£¼í–‰ #ì‚°ì±…í›„ #ë°˜ë ¤ê²¬ê³¼í•¨ê»˜ #ë©ë§ˆë“¤,N,None,None,2025-05-14 14:21:45+00:00,0.0
12534,18073647475924861,17841474495202295,VIDEO,REELS,https://scontent-nrt1-2.cdninstagram.com/o1/v/...,https://www.instagram.com/reel/DJv-FeQT7aU/,https://scontent-nrt1-2.cdninstagram.com/v/t51...,2025-05-17 09:25:59+00:00,ìš°ë¹„ ì‚° ê¸°ë…ìœ¼ë¡œ ë‚˜ê°”ë‹¤ê°€ 2ë¶„ë§Œì— ë“¤ì–´ì˜¤ëŠ”ê±° \nì–´ì°Œí• ê¼¬....ã… ã… ğŸ¶ğŸ˜…ğŸ˜…,N,None,None,2025-05-14 20:32:05+00:00,2.0
16933,18134901241417728,17841474495202295,VIDEO,REELS,https://scontent-nrt1-2.cdninstagram.com/o1/v/...,https://www.instagram.com/reel/DKPO8Fqx1M2/,https://scontent-nrt1-2.cdninstagram.com/v/t51...,2025-05-29 12:50:22+00:00,#ë©ë¼ìš´ì§€24 #ë°˜ë ¤ê²¬ #ì¼€ì–´ #ì „ë¬¸ì \n#êµìœ¡ #í˜¸í…”ë§ #ì•„í”„ì§€ë§ì,N,None,None,2025-05-17 09:25:59+00:00,12.0
8671,18047240360180115,17841474495202295,CAROUSEL_ALBUM,FEED,https://scontent-nrt1-1.cdninstagram.com/v/t51...,https://www.instagram.com/p/DKhqtndJiTN/,None,2025-06-05 16:36:48+00:00,#ë©ë§ˆë“¤ #ë°˜ë ¤ê²¬ #ìŠˆ #ì‚°ì±… #ë“œë¼ì´ë¸Œ #ìŠˆ1ì‚´ì‹œì ˆ \n#netflix #ì¸ì²œê°•ì•„...,N,None,None,2025-05-29 12:50:22+00:00,7.0

In [12]:
def calculate_activity_score(recent_media_dtl_df): # ë‘ ê°œì˜ í…Œì´ë¸” ì¤‘ ê°€ì¥ ìµœê·¼
    media_dtl_copy = recent_media_dtl_df.copy()
    media_dtl_copy = media_dtl_copy.drop_duplicates(subset=['acnt_id', 'media_id', 'media_cn'])
    media_dtl_copy['reg_dt'] = pd.to_datetime(media_dtl_copy['reg_dt'])
    media_dtl_copy = media_dtl_copy.sort_values(['acnt_id', 'reg_dt'])

    # ê²Œì‹œë¬¼ ê°„ê²© ê³„ì‚°
    media_dtl_copy['prev_reg_dt'] = media_dtl_copy.groupby('acnt_id')['reg_dt'].shift(1)
    media_dtl_copy['gap_days'] = (media_dtl_copy['reg_dt'] - media_dtl_copy['prev_reg_dt']).dt.days

    # gap_daysê°€ NaNì¸ ì²« ë²ˆì§¸ í¬ìŠ¤íŠ¸ ì œì™¸ í›„ í‰ê·  ê°„ê²© ê³„ì‚°
    activity_df = media_dtl_copy.dropna(subset=['gap_days']).groupby('acnt_id')['gap_days'].mean().reset_index()
    activity_df.rename(columns={'gap_days': 'avg_upload_interval'}, inplace=True)

    # í™œë™ì„± ì ìˆ˜ ê³„ì‚° (ê°„ê²©ì˜ ì—­ìˆ˜ë¡œ í™˜ì‚°) -> ì ìˆ˜ ì •ê·œí™” (ì—…ë¡œë“œ ê°„ê²©ì´ ì§§ì„ìˆ˜ë¡ ì ìˆ˜ê°€ ë†’ì•„ì§€ë„ë¡ ì—­ìˆ˜ë¥¼ ì·¨í•´ì„œ ê³„ì‚°í•œ ê²ƒ)
    activity_df['activity_score'] = 100 / activity_df['avg_upload_interval']
    
    return activity_df

In [13]:
activity_df = calculate_activity_score(by_user_id_media_dtl_info_2)

In [71]:
activity_df

               acnt_id  avg_upload_interval  activity_score
0    17841400002751973             0.333333      300.000000
1    17841400006499942             3.166667       31.578947
2    17841400011995621             2.291667       43.636364
3    17841400016295781             0.541667      184.615385
4    17841400025364370            26.416667        3.785489
..                 ...                  ...             ...
726  17841473332885823             2.750000       36.363636
727  17841473347851502             2.208333       45.283019
728  17841473857435791             0.500000      200.000000
729  17841474152637635             3.500000       28.571429
730  17841474495202295             2.000000       50.000000

[731 rows x 3 columns]

In [ ]:
def check_inf(df):
    float_cols = df.select_dtypes(include=['float64', 'float32']).columns

    mask_inf = np.isinf(df[float_cols]).any(axis=1)
    mask_neginf = np.isneginf(df[float_cols]).any(axis=1)

    invalid_rows = df[mask_inf | mask_neginf]

    print(f"âš ï¸ inf / -inf í¬í•¨ í–‰ ê°œìˆ˜: {len(invalid_rows)}ê°œ")
    display(invalid_rows)

In [52]:
check_inf(activity_df)

âš ï¸ inf / -inf í¬í•¨ í–‰ ê°œìˆ˜: 10ê°œ

               acnt_id  avg_upload_interval  activity_score
16   17841400106478893                  0.0             inf
49   17841400328187277                  0.0             inf
87   17841400597819049                  0.0             inf
190  17841401409523807                  0.0             inf
243  17841401837605088                  0.0             inf
284  17841402140800589                  0.0             inf
384  17841405136373546                  0.0             inf
393  17841405619465983                  0.0             inf
404  17841406027893172                  0.0             inf
443  17841407619873635                  0.0             inf

íŠ¸ë Œë“œì§€ìˆ˜ - íŒ”ë¡œì›Œ ìˆœì¦ê°ë¥  (follower_growth_rate)

In [126]:
# time_series_profile_info_2['acnt_id'] = time_series_profile_info_2['acnt_id'].astype(object)

# influencer_list = time_series_profile_info['acnt_id'].unique()
# time_series_profile_info_2[time_series_profile_info_2['acnt_id'].isin(influencer_list)]
# time_series_merged_df = pd.merge(time_series_profile_info, time_series_profile_info_2, on='acnt_id')

# time_series_merged_df['trend_score'] = ((time_series_merged_df['follower_cnt_y'] - time_series_merged_df['follower_cnt_x']) / (time_series_merged_df['follower_cnt_x'])) * 100
# time_series_merged_df[['acnt_id', 'trend_score']]

In [14]:
def calculate_follower_growth_rate(time_series_df, recent_time_series_df):
    time_series_df.loc[:, 'acnt_id'] = time_series_df['acnt_id'].astype(object)
    recent_time_series_df.loc[:, 'acnt_id'] = recent_time_series_df['acnt_id'].astype(object)

    influencer_list = time_series_df['acnt_id'].unique()
    recent_time_series_df = recent_time_series_df[recent_time_series_df['acnt_id'].isin(influencer_list)]
    time_series_merged_df = pd.merge(time_series_df, recent_time_series_df, on='acnt_id')

    time_series_merged_df['trend_score'] = ((time_series_merged_df['follower_cnt_y'] - time_series_merged_df['follower_cnt_x']) / (time_series_merged_df['follower_cnt_x'])) * 100
    growth_rate_df = time_series_merged_df[['acnt_id', 'trend_score']]

    return growth_rate_df

In [15]:
growth_rate_df = calculate_follower_growth_rate(time_series_profile_info, time_series_profile_info_2)

##### íŒ”ë¡œì›Œ ì°¸ì—¬ë„

- 26ì¼ ë°ì´í„°ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê³„ì‚° ì§„í–‰
- ë‹¨ì¼ í”„ì†ŒíŠ¸ ê¸°ì¤€ì´ ì•„ë‹Œ ì „ì²´ í¬ìŠ¤íŠ¸ í‰ê· ì„ ì¸¡ì •
- media_dtl & media_agg & user_dataë¥¼ ë³‘í•©í•œ ë°ì´í„°

---------------------------------------------------------

- ì¢‹ì•„ìš” ë¹„ê³µê°œì¸ ê²½ìš°ì—ëŠ” ê°ê°ì˜ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´ -> ë¬¸ì œëŠ” ì•„ì˜ˆ ì—†ëŠ” ì‚¬ëŒì€ ì–´ë–»ê²Œ í•´ì•¼í•˜ëŠ”ê±´ì§€...
- estimated_total_engagement = avg_engagement_per_post * total_post_count
- avg_engagement_per_post = like+comments / 25
- total_post_count -> user_data

In [129]:
# media_engagement_merged_df = pd.merge(media_dtl, media_agg, on='media_id')


# # í•´ë‹¹ ë¶€ë¶„ ìˆ˜ì • -> dicì— ìë™ìœ¼ë¡œ median ê°’ì´ ë“¤ì–´ê°ˆ ìˆ˜ ìˆë„ë¡ ìˆ˜ì •
# media_engagement_merged_df.groupby(['acnt_id'])['like_cnt'].median()
# fillna_dict = {
#     '17841400591698216': 810,
#     '17841401506106699': 791,
#     '17841401839008777': 480,
#     '17841402936102997': 96,
#     '17841406083664639': 83,
#     '17841400361359004' : 0,
#     '17841401473518226' : 0
# }

# for acnt_id, default_like in fillna_dict.items():
#     condition = media_engagement_merged_df['acnt_id'] == acnt_id
#     media_engagement_merged_df.loc[condition, 'like_cnt'] = (
#         media_engagement_merged_df.loc[condition, 'like_cnt'].fillna(default_like)
#     )

# media_engagement_merged_df = pd.merge(media_engagement_merged_df, user_info_2,  on='acnt_id', how = 'left')
# media_engagement_merged_df_2 = media_engagement_merged_df[['acnt_id', 'media_id', 'follower_cnt', 'follow_cnt', 'like_cnt', 'cmnt_cnt', 'media_cnt']]

# engaged_df = media_engagement_merged_df_2.groupby(['acnt_id']).agg({
#     'like_cnt' : 'sum',
#     'cmnt_cnt' : 'sum',
#     'media_cnt': 'first',
#     'follower_cnt' : 'first',
#     'follow_cnt' : 'first'
# }).reset_index()

# engaged_df['avg_engagement_per_post'] = ((engaged_df['like_cnt'] + engaged_df['cmnt_cnt']) / 25)
# engaged_df['estimated_total_engagement'] = engaged_df['avg_engagement_per_post'] * engaged_df['media_cnt']
# engaged_df['follower_total_engagement'] = (engaged_df['estimated_total_engagement'] / engaged_df['follower_cnt']) * 100
# engaged_df

In [16]:
def calculate_follower_engagement(media_engagement_profile_merged_df):
    media_engagement_profile_merged_df_copy = media_engagement_profile_merged_df[['acnt_id', 'media_id', 'follower_cnt', 'follow_cnt', 'like_cnt', 'cmnt_cnt', 'media_cnt']]
    
    engaged_df = media_engagement_profile_merged_df_copy.groupby(['acnt_id']).agg({
        'like_cnt' : 'sum',
        'cmnt_cnt' : 'sum',
        'media_cnt': 'first',
        'follower_cnt' : 'first',
        'follow_cnt' : 'first'
    }).reset_index()

    engaged_df['avg_engagement_per_post'] = ((engaged_df['like_cnt'] + engaged_df['cmnt_cnt']) / 25)
    engaged_df['estimated_total_engagement'] = engaged_df['avg_engagement_per_post'] * engaged_df['media_cnt']
    engaged_df['follower_total_engagement'] = (engaged_df['estimated_total_engagement'] / engaged_df['follower_cnt']) * 100
    
    follower_engagment_df = engaged_df

    return follower_engagment_df

In [17]:
follower_engagment_df = calculate_follower_engagement(media_engagement_profile_merged_df)

In [ ]:
check_inf(follower_engagment_df)

âš ï¸ inf / -inf í¬í•¨ í–‰ ê°œìˆ˜: 1ê°œ

,acnt_id,like_cnt,cmnt_cnt,media_cnt,follower_cnt,follow_cnt,avg_engagement_per_post,estimated_total_engagement,follower_total_engagement
454,17841465816785419,1387.5,101,11,0,0,59.54,654.94,inf

In [ ]:
recent_user_info_mtr_2[recent_user_info_mtr_2['acnt_id']=='17841465816785419']
recent_user_info_mtr_2[recent_user_info_mtr_2['acnt_id']=='17841465816785419']

,acnt_id,acnt_nm,web_addr,acnt_sub_nm,intro_txt,profile_photo_url_addr,acnt_conn_yn,category_nm,follower_cnt,follow_cnt,media_cnt,influencer_scale_type
609,17841465816785419,kimchis.exe,https://litt.ly/kimchis,ê¹€ì¹˜ìŠ¤(kimchiâ€™s) | ê¹€ì¹˜ í¸ì§‘ìƒµ,"ì „êµ­ ë¹¨ê°„ë§› í¸ì§‘ìƒµğŸ”¥\në§¤ì½¤í•˜ê³ , ë§›ìˆëŠ” ìŒì‹ì„ ìˆ˜ì§‘í•©ë‹ˆë‹¤.",https://scontent-nrt1-2.xx.fbcdn.net/v/t51.757...,N,í™ˆ/ë¦¬ë¹™,0,0,11,nano

##### íŒ”ë¡œì›Œ ì¶©ì„±ë„

- user_info or time_series ë°ì´í„°ê°€ í•„ìš”
- íŠ¸ë Œë“œ ì§€ìˆ˜ëŠ” time_series ë°ì´í„°ë¥¼ ê°€ì§€ê³  ë‹¨ìˆœíˆ ë¹¼ê¸°ë¥¼ ì§„í–‰í–ˆì—ˆìŒ

In [ ]:
# time_series_merged_df_copy = time_series_merged_df[['acnt_id', 'follower_cnt_x', 'follower_cnt_y']]

# time_series_merged_df_copy['follower_change'] = (time_series_merged_df_copy['follower_cnt_y'] - time_series_merged_df_copy['follower_cnt_x'])

# def estimate_new_follower(row):
#     if row['follower_change'] < 0:
#         return 0
#     else:
#         return row['follower_change']

# time_series_merged_df_copy['new_follower'] = time_series_merged_df_copy.apply(estimate_new_follower, axis=1)

# # ì¶©ì„±ë„ ê³„ì‚°
# # time_series_merged_df_copy = time_series_merged_time_series_merged_df_copy_copy.copy()
# time_series_merged_df_copy['unfollowed'] = time_series_merged_df_copy['follower_cnt_x'] + time_series_merged_df_copy['new_follower'] - time_series_merged_df_copy['follower_cnt_y']
# time_series_merged_df_copy['follower_retention_rate'] = ((time_series_merged_df_copy['follower_cnt_x'] - time_series_merged_df_copy['unfollowed']) / time_series_merged_df_copy['follower_cnt_x']) * 100
# time_series_merged_df_copy['follower_retention_rate'] = time_series_merged_df_copy['follower_retention_rate'].round(2)

# time_series_merged_df_copy

In [ ]:
# def estimate_loyalty(row):
#     if row['follower_change'] < 0:
#         return ((row['follower_cnt_x'] + row['follower_change']) / row['follower_cnt_x']) * 100
#     else:
#         return 100.0

# time_series_merged_df_copy['follower_loyalty'] = time_series_merged_df_copy.apply(estimate_loyalty, axis=1)
# time_series_merged_df_copy['follower_loyalty'] = time_series_merged_df_copy['follower_loyalty'].round(2)

In [18]:
def calculate_follower_loyalty(time_series_merged_df):
    time_series_merged_df_copy = time_series_merged_df[['acnt_id', 'follower_cnt_x', 'follower_cnt_y']].copy()

    time_series_merged_df_copy.loc[:, 'follower_change'] = (time_series_merged_df_copy['follower_cnt_y'] - time_series_merged_df_copy['follower_cnt_x'])

    def estimate_new_follower(row):
        if row['follower_change'] < 0:
            return 0
        else:
            return row['follower_change']

    time_series_merged_df_copy.loc[:, 'new_follower'] = time_series_merged_df_copy.apply(estimate_new_follower, axis=1)
    time_series_merged_df_copy.loc[:, 'unfollowed'] = time_series_merged_df_copy['follower_cnt_x'] + time_series_merged_df_copy['new_follower'] - time_series_merged_df_copy['follower_cnt_y']
    time_series_merged_df_copy.loc[:, 'follower_retention_rate'] = ((time_series_merged_df_copy['follower_cnt_x'] - time_series_merged_df_copy['unfollowed']) / time_series_merged_df_copy['follower_cnt_x']) * 100
    time_series_merged_df_copy.loc[:, 'follower_retention_rate'] = time_series_merged_df_copy['follower_retention_rate'].round(2)

    follower_loyalty_df = time_series_merged_df_copy

    return follower_loyalty_df

In [40]:
follower_loyalty_df = calculate_follower_loyalty(time_series_merged_df)
follower_loyalty_df

,acnt_id,follower_cnt_x,follower_cnt_y,follower_change,new_follower,unfollowed,follower_retention_rate
0,17841472095454621,2348,2424,76,76,0,100.00
1,17841459031207937,2119,2119,0,0,0,100.00
2,17841458105192949,1269,1271,2,2,0,100.00
3,17841400305959659,12337,12319,-18,0,18,99.85
4,17841401243247010,58980,58951,-29,0,29,99.95
...,...,...,...,...,...,...,...
718,17841403740294688,13469,13457,-12,0,12,99.91
719,17841405305728171,5791,5791,0,0,0,100.00
720,17841400214059012,112637,111412,-1225,0,1225,98.91
721,17841430071957252,1999,1997,-2,0,2,99.90
722,17841409329048389,13304,13303,-1,0,1,99.99

In [43]:
follower_loyalty_df[follower_loyalty_df['acnt_id']=='17841465816785419']

,acnt_id,follower_cnt_x,follower_cnt_y,follower_change,new_follower,unfollowed,follower_retention_rate
683,17841465816785419,51,0,-51,0,51,0.0

In [42]:
check_inf(follower_loyalty_df)

âš ï¸ inf / -inf í¬í•¨ í–‰ ê°œìˆ˜: 0ê°œ

Empty DataFrame
Columns: [acnt_id, follower_cnt_x, follower_cnt_y, follower_change, new_follower, unfollowed, follower_retention_rate]
Index: []

ê·¸ë‹ˆê¹Œ ì§€ê¸ˆ anct_id = 17841465816785419 ìœ ì €ëŠ” ì´ì „ ë°ì´í„°ì—ëŠ” íŒ”ë¡œì›Œê°€ ìˆë‹¤ê°€, ìµœê·¼ì— íŒ”ë¡œì›Œê°€ ì—†ì–´ì§„ ì¼€ì´ìŠ¤ë¼ì„œ follower_loyaltyëŠ” ê³„ì‚°ì´ ë˜ì§€ë§Œ follower_engagementëŠ” ê³„ì‚°ì´ ì•ˆë˜ê³  ìˆìŒ.
ì´ëŸ¬í•œ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•  ìˆ˜ ìˆê¸° ë•Œë¬¸ì— íŒ”ë¡œì›Œê°€ í•œëª…ë„ ì—†ëŠ” ìœ ì €ì˜ ê²½ìš° ì˜ˆì™¸ì²˜ë¦¬ë¥¼ í•´ì¤˜ì•¼ í•¨.

ì½˜í…ì¸  íš¨ìœ¨ì„± í‰ê°€

- ì½˜í…ì¸  1ê°œë‹¹ íŒ”ë¡œì›Œ ëŒ€ë¹„ ë°˜ì‘ëŸ‰(like+comments)
- media_agg & media_dtl & acnt_idê°€ í•„ìš” -> ì „ë¶€ ë³‘í•©í•œ ê²Œ media_engagement_merged_df

In [132]:
# media_engagement_merged_df_3 = media_engagement_profile_merged_df.copy()
# # media_engagment_merged_df_2 == media_engagement_profile_merged_df ê°™ì€ dfì„
# # media_engagement_profile_merged_df_copy = media_engagement_merged_df_2.copy()


# media_engagement_merged_df_3['post_efficiency'] = ((media_engagement_merged_df_3['like_cnt'] + media_engagement_merged_df_3['cmnt_cnt']) / media_engagement_merged_df_3['follower_cnt']) * 100
# post_efficiency_df = media_engagement_merged_df_3.groupby('acnt_id')['post_efficiency'].mean().reset_index()
# post_efficiency_df.rename(columns={'post_efficiency': 'avg_post_efficiency'}, inplace=True)
# post_efficiency_df

In [20]:
def calculate_post_efficiency_df(media_engagement_profile_merged_df):
    media_engagement_profile_merged_df_copy = media_engagement_profile_merged_df.copy()

    media_engagement_profile_merged_df_copy['post_efficiency'] = ((media_engagement_profile_merged_df_copy['like_cnt'] + media_engagement_profile_merged_df_copy['cmnt_cnt']) / media_engagement_profile_merged_df_copy['follower_cnt']) * 100
    post_efficiency_df = media_engagement_profile_merged_df_copy.groupby('acnt_id')['post_efficiency'].mean().reset_index()
    post_efficiency_df.rename(columns={'post_efficiency': 'avg_post_efficiency'}, inplace=True)

    return post_efficiency_df

In [47]:
post_efficiency_df = calculate_post_efficiency_df(media_engagement_profile_merged_df)

In [48]:
check_inf(post_efficiency_df)

âš ï¸ inf / -inf í¬í•¨ í–‰ ê°œìˆ˜: 1ê°œ

               acnt_id  avg_post_efficiency
454  17841465816785419                  inf

##### not_connected_influencer_flexmatch_score

In [54]:
# # í¬ë¦¬ì—ì´í„° í™œë™ì„±
# creator_activity_score = activity_df[['acnt_id', 'activity_score']]
# # íŠ¸ë Œë“œì§€ìˆ˜
# creator_trend_score = growth_rate_df[['acnt_id', 'trend_score']]
# # íŒ”ë¡œì›Œ ì°¸ì—¬ë„
# follower_engagement = follower_engagment_df[['acnt_id', 'follower_total_engagement']]
# # íŒ”ë¡œì›Œ ì¶©ì„±ë„
# follower_loyalty = follower_loyalty_df[['acnt_id', 'follower_retention_rate']]
# # ì½˜í…ì¸  íš¨ìœ¨ì„±
# post_efficiency = post_efficiency_df[['acnt_id', 'avg_post_efficiency']]

# # data_list
# df_list = [creator_activity_score, creator_trend_score, follower_engagement, follower_loyalty, post_efficiency]

# from functools import reduce

# flexmatch_score = reduce(lambda left, right: pd.merge(left, right, on='acnt_id', how='left'), df_list)
# user_info_nm = recent_user_info_mtr[['acnt_id', 'acnt_nm', 'influencer_scale_type']]
# # user_info_nm
# flexmatch_score = pd.merge(flexmatch_score, user_info_nm, on='acnt_id')
# flexmatch_score = flexmatch_score[['acnt_id', 'acnt_nm', 'activity_score', 'trend_score', 'follower_total_engagement', 'follower_retention_rate', 'avg_post_efficiency']]

# flexmatch_score.rename(columns={
#     'avg_upload_interval' : 'í¬ë¦¬ì—ì´í„° í™œë™ì„±',
#     'trend_score' : 'íŠ¸ë Œë“œì§€ìˆ˜(íŒ”ë¡œì›Œìˆœì¦ê°€ëŸ‰)', 
#     'follower_total_engagement' : 'ì½˜í…ì¸  ì°¸ì—¬ë„' ,
#     'follower_retention_rate' : 'íŒ”ë¡œì›Œ ì¶©ì„±ë„',
#     'avg_post_efficiency' : 'ì½˜í…ì¸  íš¨ìœ¨ì„±',
# }, inplace=True)

# flexmatch_score_2 = flexmatch_score.copy()
# flexmatch_score_2.dropna(inplace=True)
# flexmatch_score_2

In [22]:
def not_connected_user_flexmatch_score(activity_df, growth_rate_df, follower_engagement_df, follower_loyalty_df, post_efficiency_df):
    # í¬ë¦¬ì—ì´í„° í™œë™ì„±
    creator_activity_score = activity_df[['acnt_id', 'activity_score']]
    # íŠ¸ë Œë“œì§€ìˆ˜
    creator_trend_score = growth_rate_df[['acnt_id', 'trend_score']]
    # íŒ”ë¡œì›Œ ì°¸ì—¬ë„
    follower_engagement = follower_engagement_df[['acnt_id', 'follower_total_engagement']]
    # íŒ”ë¡œì›Œ ì¶©ì„±ë„
    follower_loyalty = follower_loyalty_df[['acnt_id', 'follower_retention_rate']]
    # ì½˜í…ì¸  íš¨ìœ¨ì„±
    post_efficiency = post_efficiency_df[['acnt_id', 'avg_post_efficiency']]

    # data_list
    df_list = [creator_activity_score, creator_trend_score, follower_engagement, follower_loyalty, post_efficiency]

    from functools import reduce

    flexmatch_score = reduce(lambda left, right: pd.merge(left, right, on='acnt_id', how='left'), df_list)
    user_info_nm = recent_user_info_mtr[['acnt_id', 'acnt_nm', 'influencer_scale_type']]
    flexmatch_score = pd.merge(flexmatch_score, user_info_nm, on='acnt_id')
    flexmatch_score = flexmatch_score[['acnt_id', 'acnt_nm', 'influencer_scale_type', 'activity_score', 'trend_score', 'follower_total_engagement', 'follower_retention_rate', 'avg_post_efficiency']]

    flexmatch_score.rename(columns={
        'activity_score' : 'í¬ë¦¬ì—ì´í„° í™œë™ì„±',
        'trend_score' : 'íŒ”ë¡œì›Œìˆœì¦ê°ë¥ ', 
        'follower_total_engagement' : 'ì½˜í…ì¸  ì°¸ì—¬ë„' ,
        'follower_retention_rate' : 'íŒ”ë¡œì›Œ ì¶©ì„±ë„',
        'avg_post_efficiency' : 'ì½˜í…ì¸  íš¨ìœ¨ì„±',
    }, inplace=True)

    not_connected_flexmatch_score_table = flexmatch_score.copy()
    not_connected_flexmatch_score_table.dropna(inplace=True)
    
    return not_connected_flexmatch_score_table

In [23]:
not_connected_flexmatch_score_table = not_connected_user_flexmatch_score(activity_df, growth_rate_df, follower_engagment_df, follower_loyalty_df, post_efficiency_df)
not_connected_flexmatch_score_table

,acnt_id,acnt_nm,influencer_scale_type,í¬ë¦¬ì—ì´í„° í™œë™ì„±,íŒ”ë¡œì›Œìˆœì¦ê°ë¥,ì½˜í…ì¸ ì°¸ì—¬ë„,íŒ”ë¡œì›Œ ì¶©ì„±ë„,ì½˜í…ì¸ íš¨ìœ¨ì„±
1,17841400006499942,kim__us_,macro,31.578947,-0.163534,3219.801059,99.84,1.857935
3,17841400016295781,jihyolimm,mid,184.615385,0.000000,603.536863,100.00,1.221735
5,17841400038455668,kos9803,mid,11.940299,-0.020737,290.415000,99.98,0.335352
8,17841400064417438,jjosworlds,mid,141.176471,-0.404967,2484.457250,99.60,1.274734
10,17841400070132367,gnuoyeatt,nano,12.371134,-0.110375,1464.088398,99.89,13.812155
...,...,...,...,...,...,...,...,...
716,17841473332885823,shalala_prc,micro,36.363636,-0.440098,5.721022,99.56,0.220039
717,17841473347851502,hyepick_place,micro,45.283019,-0.882292,109.016651,99.12,3.633888
718,17841473857435791,sesebonbon,micro,200.000000,7.234432,347.076923,100.00,8.676923
719,17841474152637635,_samelee47,nano,28.571429,0.000000,10.000000,100.00,10.000000
720,17841474495202295,susu_23.06.30,nano,50.000000,2.173913,18.382979,100.00,3.191489

In [77]:
not_connected_flexmatch_score_table[not_connected_flexmatch_score_table['acnt_id']=='17841400111322589']

,acnt_id,acnt_nm,influencer_scale_type,í¬ë¦¬ì—ì´í„° í™œë™ì„±,íŒ”ë¡œì›Œìˆœì¦ê°ë¥,ì½˜í…ì¸ ì°¸ì—¬ë„,íŒ”ë¡œì›Œ ì¶©ì„±ë„,ì½˜í…ì¸ íš¨ìœ¨ì„±
17,17841400111322589,seon4123,nano,266.666667,-0.206186,1053.487603,99.79,1.024793

In [78]:
not_connected_flexmatch_score_table[not_connected_flexmatch_score_table['acnt_id']=='17841400070132367']

,acnt_id,acnt_nm,influencer_scale_type,í¬ë¦¬ì—ì´í„° í™œë™ì„±,íŒ”ë¡œì›Œìˆœì¦ê°ë¥,ì½˜í…ì¸ ì°¸ì—¬ë„,íŒ”ë¡œì›Œ ì¶©ì„±ë„,ì½˜í…ì¸ íš¨ìœ¨ì„±
10,17841400070132367,gnuoyeatt,nano,12.371134,-0.110375,1464.088398,99.89,13.812155

In [24]:
not_connected_flexmatch_score_table['influencer_scale_type'].value_counts()

influencer_scale_type
micro    190
mid      143
nano     114
macro     30
mega       1
Name: count, dtype: int64

In [25]:
nano = not_connected_flexmatch_score_table[not_connected_flexmatch_score_table['influencer_scale_type']=='nano']
micro = not_connected_flexmatch_score_table[not_connected_flexmatch_score_table['influencer_scale_type']=='micro']
mid = not_connected_flexmatch_score_table[not_connected_flexmatch_score_table['influencer_scale_type']=='mid']
macro = not_connected_flexmatch_score_table[not_connected_flexmatch_score_table['influencer_scale_type']=='macro']
mega = not_connected_flexmatch_score_table[not_connected_flexmatch_score_table['influencer_scale_type']=='mega']

In [74]:
# influencer_scale_df_list = [nano, micro, mid, macro, mega]


# for df in influencer_scale_df_list :
#     columns = df.select_dtypes(include='float64').columns
#     cleaned = df[columns].replace([np.inf, -np.inf], np.nan).dropna()
#     minmax = MinMaxScaler(feature_range=(0, 5))
#     flexmatch_score_norm = minmax.fit_transform(cleaned[columns])

#     flexmatch_score_norm_df = pd.DataFrame(flexmatch_score_norm, columns=columns, index=cleaned.index)
#     flexmatch_score_norm_df['acnt_id'] = df['acnt_id']
#     flexmatch_score_norm_df['acnt_nm'] = df['acnt_nm']

#     flexmatch_score_norm_df['í¬ë¦¬ì—ì´í„° í™œë™ì„±'] = 5 - flexmatch_score_norm_df['í¬ë¦¬ì—ì´í„° í™œë™ì„±']

In [ ]:
influencer_scale_df_list = [nano, micro, mid, macro, mega]
normalized_df_list = []

# ë†’ì„ìˆ˜ë¡ ì•ˆ ì¢‹ì€ ì§€í‘œ
reverse_columns = []  

for df in influencer_scale_df_list:
    cleaned = df.copy()

    # ë¬´í•œëŒ€ ë° NaN ì œê±°
    float_cols = cleaned.select_dtypes(include='float64').columns
    cleaned[float_cols] = cleaned[float_cols].replace([np.inf, -np.inf], np.nan)
    cleaned = cleaned.dropna(subset=float_cols)

    if cleaned.empty:
        continue

    # ê°œë³„ ì»¬ëŸ¼ ì •ê·œí™” (0~5 ìŠ¤ì¼€ì¼)
    norm_df = pd.DataFrame(index=cleaned.index)
    for col in float_cols:
        scaler = MinMaxScaler(feature_range=(0, 5))
        norm_col = scaler.fit_transform(cleaned[[col]])
        norm_df[col] = 5 - norm_col.ravel() if col in reverse_columns else norm_col.ravel()
        norm_df[col] = norm_col.ravel() if col in reverse_columns else norm_col.ravel()

    # ID ë° ì´ë¦„ ë¶™ì´ê¸°
    norm_df['acnt_id'] = cleaned['acnt_id'].values
    norm_df['acnt_nm'] = cleaned['acnt_nm'].values

    normalized_df_list.append(norm_df)

In [82]:
normalized_df_list[0]

,í¬ë¦¬ì—ì´í„° í™œë™ì„±,íŒ”ë¡œì›Œìˆœì¦ê°ë¥,ì½˜í…ì¸ ì°¸ì—¬ë„,íŒ”ë¡œì›Œ ì¶©ì„±ë„,ì½˜í…ì¸ íš¨ìœ¨ì„±,acnt_id,acnt_nm
10,0.198536,1.238451,0.900693,4.845938,0.971915,17841400070132367,gnuoyeatt
17,4.443558,1.204167,0.647779,4.705882,0.047514,17841400111322589,seon4123
30,0.777587,1.338594,3.279573,5.000000,0.213176,17841400204233993,j_solha
44,0.219657,1.357639,0.547313,5.000000,0.185162,17841400297953515,j.yyyyyul
70,1.019299,1.402914,2.127321,5.000000,0.154577,17841400483419781,hyeryeon_yoon
...,...,...,...,...,...,...,...
708,3.998404,1.452070,0.131461,5.000000,0.095958,17841469588134780,review.cat
709,0.214598,1.277946,0.004689,5.000000,1.869567,17841470993682107,hi_losy
713,1.244016,5.000000,0.515891,5.000000,1.163201,17841472222414158,elmom.home
719,0.468972,1.277946,0.005033,5.000000,0.696334,17841474152637635,_samelee47
720,0.826684,2.055826,0.010196,5.000000,0.204145,17841474495202295,susu_23.06.30

##### í¬ë¦¬ì—ì´í„° ê´‘ê³  íš¨ìœ¨ì„±

In [ ]:
revenue_dic = {
    'acnt_nm' : ['s_h_j_', 'siwolbubu_hyun', 'bong_camper83', 'binwoos', 'seojinii_', 'tingkerhee'],
    'sell_type' : ['flexmatch', 'other', 'flexmatch', 'flexmatch', 'other', 'other'],
    'total_revenue' : [6906000, 10937105, 7233100, 8759000, 7939664, 38449720],
    'total_order_cnt' : [84, 132, 122, 88, 89, 471]
    }

revenue_df = pd.DataFrame(revenue_dic)
revenue_merged_df = pd.merge(media_engagement_merged_df, revenue_df, on='acnt_nm', how='left')
revenue_merged_df = revenue_merged_df[['acnt_id', 'acnt_nm', 'follower_cnt', 'follow_cnt', 'media_cnt', 'sell_type', 'total_revenue', 'total_order_cnt', 'media_id', 'like_cnt', 'cmnt_cnt']]
revenue_merged_df

revenue_merged_df['post_efficiency'] = ((revenue_merged_df['like_cnt'] + revenue_merged_df['cmnt_cnt']) / revenue_merged_df['follower_cnt']) * 100
revenue_df_total = revenue_merged_df.groupby(['acnt_id', 'acnt_nm']).agg({
    'post_efficiency' : 'mean',
    'total_order_cnt' : 'first'
}).dropna()

revenue_df_total['advertisement_efficiency'] = (revenue_df_total['total_order_cnt'] / revenue_df_total['post_efficiency']) 
revenue_df_total.sort_values(by='advertisement_efficiency', ascending=False)

revenue_merged_df['engagement_per_post'] = ((revenue_merged_df['like_cnt'] + revenue_merged_df['cmnt_cnt']) / 25)
revenue_df_total = revenue_merged_df.groupby(['acnt_id', 'acnt_nm']).agg({
    'engagement_per_post' : 'mean',
    'total_revenue' : 'first',
    'total_order_cnt' : 'first'
}).dropna()

# íŒ”ë¡œì›Œë¥¼ ìƒê°í•˜ì§€ ì•Šê³ , 25ê°œì˜ ì½˜í…ì¸  ë‹¨ìœ„ë‹¹ ë°˜ì‘ ë¹„ìœ¨ì„ ê³„ì‚°
revenue_df_total['advertisement_efficiency'] = (revenue_df_total['total_order_cnt'] / revenue_df_total['engagement_per_post'] * 25) * 100
revenue_df_total.sort_values(by='advertisement_efficiency', ascending=False)

          acnt_nm  sell_type  total_revenue  total_order_cnt
0          s_h_j_  flexmatch        6906000               84
1  siwolbubu_hyun      other       10937105              132
2   bong_camper83  flexmatch        7233100              122
3         binwoos  flexmatch        8759000               88
4       seojinii_      other        7939664               89
5      tingkerhee      other       38449720              471

ì½˜í…ì¸  íš¨ìœ¨ì„±ì´ ì•„ë‹Œ íŒ”ë¡œì›Œ ì°¸ì—¬ë„ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê³„ì‚°í–ˆì„ ë•Œ

In [ ]:
engaged_df_2 = engaged_df.copy()
revenue_merged_df_2 = revenue_merged_df.groupby(['acnt_id', 'acnt_nm'])[['total_revenue', 'total_order_cnt']].first().dropna().reset_index()
revenue_df_total_2 = pd.merge(engaged_df_2, revenue_merged_df_2, on='acnt_id')

revenue_df_total_2['advertisement_efficiency'] = revenue_df_total_2['total_order_cnt'] / revenue_df_total_2['follower_total_engagement']
revenue_df_total_2[['acnt_id', 'acnt_nm', 'total_revenue', 'total_order_cnt', 'follower_total_engagement', 'advertisement_efficiency']].sort_values(by='advertisement_efficiency', ascending=False)

table merged

In [583]:
# í¬ë¦¬ì—ì´í„° í™œë™ì„±
creator_activity_score = activity_df[['acnt_id', 'avg_upload_interval']]

In [584]:
# íŠ¸ë Œë“œì§€ìˆ˜
creator_trend_score = time_series_merged_df[['acnt_id', 'trend_score']]

In [585]:
# íŒ”ë¡œì›Œ ì°¸ì—¬ë„
follower_engagement = engaged_df[['acnt_id', 'follower_total_engagement']]

In [586]:
# íŒ”ë¡œì›Œ ì¶©ì„±ë„
follower_loyalty = time_series_merged_df_copy[['acnt_id', 'follower_retention_rate']]

In [587]:
# ì½˜í…ì¸  íš¨ìœ¨ì„±
post_efficiency = post_efficiency_df.copy()

In [595]:
# ê´‘ê³ íš¨ìœ¨ì„±
revenue_df_total = revenue_df_total.reset_index()
advertisement_efficiency = revenue_df_total[['acnt_id', 'advertisement_efficiency']]

In [596]:
df_list = [creator_activity_score, creator_trend_score, follower_engagement, follower_loyalty, post_efficiency, advertisement_efficiency]

In [597]:
from functools import reduce

flexmatch_score = reduce(lambda left, right: pd.merge(left, right, on='acnt_id', how='left'), df_list)

In [598]:
user_info_nm = user_info_2[['acnt_id', 'acnt_nm']]
flexmatch_score = pd.merge(flexmatch_score, user_info_nm, on='acnt_id')

In [604]:
flexmatch_score = flexmatch_score[['acnt_id', 'acnt_nm', 'avg_upload_interval', 'trend_score', 'follower_total_engagement', 'follower_retention_rate', 'avg_post_efficiency', 'advertisement_efficiency']]
flexmatch_score.rename(columns={
    'avg_upload_interval' : 'í¬ë¦¬ì—ì´í„° í™œë™ì„±',
    'trend_score' : 'íŠ¸ë Œë“œì§€ìˆ˜(íŒ”ë¡œì›Œìˆœì¦ê°€ëŸ‰)', 
    'follower_total_engagement' : 'ì½˜í…ì¸  ì°¸ì—¬ë„' ,
    'follower_retention_rate' : 'íŒ”ë¡œì›Œ ì¶©ì„±ë„',
    'avg_post_efficiency' : 'ì½˜í…ì¸  íš¨ìœ¨ì„±',
    'advertisement_efficiency' : 'ê´‘ê³  íš¨ìœ¨ì„±'
}, inplace=True)

In [605]:
flexmatch_score_2 = flexmatch_score.copy()
flexmatch_score_2.dropna(inplace=True)

In [606]:
flexmatch_score_2

,acnt_id,acnt_nm,í¬ë¦¬ì—ì´í„° í™œë™ì„±,íŠ¸ë Œë“œì§€ìˆ˜(íŒ”ë¡œì›Œìˆœì¦ê°€ëŸ‰),ì½˜í…ì¸ ì°¸ì—¬ë„,íŒ”ë¡œì›Œ ì¶©ì„±ë„,ì½˜í…ì¸ íš¨ìœ¨ì„±,ê´‘ê³ íš¨ìœ¨ì„±
0,17841400361359004,s_h_j_,1.166667,0.057866,110.188904,100.00,0.045178,1859.316062
1,17841400561503844,binwoos,0.500000,-0.014956,626.642600,99.99,0.169730,518.470975
2,17841400591698216,tingkerhee,2.416667,-0.018509,2065.579146,99.98,0.483403,974.343202
4,17841401506106699,siwolbubu_hyun,0.958333,-0.075045,2094.996055,99.92,0.556736,237.096389
6,17841402936102997,seojinii_,2.875000,-0.002312,166.809026,100.00,0.240359,370.279723
10,17841453615191128,bong_camper83,1.500000,0.281793,2526.578680,100.00,2.506526,48.672935

In [608]:
# from sklearn.preprocessing import MinMaxScaler

# columns = flexmatch_score_2.select_dtypes(include='float64').columns
# minmax = MinMaxScaler(feature_range=(0, 5))
# flexmatch_score_norm = minmax.fit_transform(flexmatch_score_2[columns])

# flexmatch_score_norm_df = pd.DataFrame(flexmatch_score_norm, columns=columns, index=flexmatch_score_2.index)
# flexmatch_score_norm_df['acnt_id'] = flexmatch_score_2['acnt_id']
# flexmatch_score_norm_df['acnt_nm'] = flexmatch_score_2['acnt_nm']

# flexmatch_score_norm_df['avg_upload_interval'] = 5 - flexmatch_score_norm_df['avg_upload_interval']
# flexmatch_score_norm_df

In [ ]:
from sklearn.preprocessing import MinMaxScaler

columns = flexmatch_score_2.select_dtypes(include='float64').columns
minmax = MinMaxScaler(feature_range=(0, 5))
flexmatch_score_norm = minmax.fit_transform(flexmatch_score_2[columns])

flexmatch_score_norm_df = pd.DataFrame(flexmatch_score_norm, columns=columns, index=flexmatch_score_2.index)
flexmatch_score_norm_df['acnt_id'] = flexmatch_score_2['acnt_id']
flexmatch_score_norm_df['acnt_nm'] = flexmatch_score_2['acnt_nm']

flexmatch_score_norm_df['í¬ë¦¬ì—ì´í„° í™œë™ì„±'] = 5 - flexmatch_score_norm_df['í¬ë¦¬ì—ì´í„° í™œë™ì„±']
flexmatch_score_norm_df

# ì§€ê¸ˆ ì´ê±° ì •ê·œí™” í•  ë•ŒëŠ” ê·¸ëƒ¥ ì´ì‚¬ëŒë“¤ì„ ì „ë¶€ ë‹¤ í•©ì³ì„œ í•¨ê»˜ ì •ê·œí™”ë¥¼ ì§„í–‰í•´ì„œ ê·¸ëŸ°ë°, ì›ë˜ë¼ë©´ì€ íŒ”ë¡œì›Œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë­ ë©”ê°€ ì¸í”Œë£¨ì–¸ì„œ, ë§ˆì´í¬ë¡œ ì¸í”Œë£¨ì–¸ì„œ ì´ëŸ°ì‹ìœ¼ë¡œ ê¸°ì¤€ì„ ë‚˜ëˆ ì„œ ì •ê·œí™”ë¥¼ í•´ì•¼ ì¡°ê¸ˆ ë” ì •í™•í•œ ê°’ì´ ë  ê²ƒ ê°™ìŒ.

,í¬ë¦¬ì—ì´í„° í™œë™ì„±,íŠ¸ë Œë“œì§€ìˆ˜(íŒ”ë¡œì›Œìˆœì¦ê°€ëŸ‰),ì½˜í…ì¸ ì°¸ì—¬ë„,íŒ”ë¡œì›Œ ì¶©ì„±ë„,ì½˜í…ì¸ íš¨ìœ¨ì„±,ê´‘ê³ íš¨ìœ¨ì„±,acnt_id,acnt_nm
0,3.596491,1.862339,0.000000,5.000,0.000000,5.000000,17841400361359004,s_h_j_
1,5.000000,0.841960,1.068647,4.375,0.253016,1.297324,17841400561503844,binwoos
2,0.964912,0.792182,4.046099,3.750,0.890213,2.556192,17841400591698216,tingkerhee
4,4.035088,0.000000,4.106968,0.000,1.039182,0.520322,17841401506106699,siwolbubu_hyun
6,0.000000,1.019133,0.117159,5.000,0.396492,0.888101,17841402936102997,seojinii_
10,2.894737,5.000000,5.000000,5.000,5.000000,0.000000,17841453615191128,bong_camper83

In [ ]:
# flexmatch_score_norm_df.to_csv("flexmatch_score_test.csv")